@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.blockTitle {     
    color: steelblue;
    letter-spacing: 0.2em;
}

.songTitle {
    font-size: 20px;
    color: #00284d;
    letter-spacing: 0.038em;
}

.wrapper1 {
    font-family: lato;
    width: 500px;
    text-align: center;
}
