@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.blockTitle {     
    color: steelblue;
    letter-spacing: 0.2em;
}

.songTitle {
    font-size: 20px;
    color: #00284d;
    letter-spacing: 0.038em;
}

.wrapper1 {
    font-family: lato;
    width: 500px;
    text-align: center;
}

.delBut {
    background-color: salmon;
    border:none;
    color:white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;    
}
